/***** NAVBAR *****/
.navbar-default {
  background-color: #DCD0C0;
  border-radius: 0;
  background-image: none;
  text-align: right;
  margin-bottom: 0;
      
}

/* Navbar title */
.navbar-default .navbar-brand {
  color: white;
  font-size: 20px;
  font-weight: bold;
    text-align:left;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #C0B283;
	
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
}

/* Navbar collapsed styles */
.navbar-header .navbar-toggle {
  color: #fff;
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background-color: #f4f4f4;
  color: #242424;
}

/*** Portfolio pieces ***/
.portfolio-thumbnail {
  background-color: #fff;
 /* border-color: #863ee3;*/
 border-color: #c0b283;
  /*border-width: 2px;*/
  width: 95%;
  
}

.portfolio-thumbnail:hover {
 /* border-color: #ebd122;*/
  opacity:.3;
}

.portfolio-title {
  font-weight: bold;
}

.portfolio-description {
}

.portfolio-image {
}

#about-world {
  max-height: 200px;
}

.resume h3 {
  font-weight: bold;
}

hr {
  border-color: white;
  border-width: 2px;
}

p {
  font-size: 20px;
}

/*a {
  color: #863ee3;
}*/

a:hover {
  color: #ebd122;
}

.jumbotron {
 /* background-image: url("../assets/contour-lines.png"); */
  text-align: center;
/*color: #fff; */
 color: #C0B283;
  padding: 2%;
}

.jumbotron h2 {
  font-size: 36px;
  font-weight: bold;
}

body {
  padding-top: 50px;
  font-family: 'Georgia', serif;
  /*background-color: #f4f4f4;*/
  background-color:#eeeeee;
  color: #C0B283
}
.text{
	padding: 16px 32px;
	
}
